Source: io.elementary.notifications
Section: x11
Priority: extra
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               libcanberra-dev,
               libgranite-7-dev,
               libgtk-4-dev,
               libadwaita-1-dev,
               meson,
               valac
Standards-Version: 4.1.1

Package: io.elementary.notifications
Architecture: any
Depends: gala (>= 8.3.0), ${misc:Depends}, ${shlibs:Depends}
Description: a Gtk notification server for Pantheon
