decoration {
    box-shadow:
        inset 0 0 0 1px alpha (@bg_highlight_color, 0.1),
        inset 0 1px 0 0 alpha (@bg_highlight_color, 0.9),
        inset 0 -1px 0 0 alpha (@bg_highlight_color, 0.3),
        0 0 0 1px alpha (#000, 0.2),
        0 3px 6px alpha (#000, 0.16),
        0 5px 5px -3px alpha (#000, 0.4);
}

.notification {
    background-image:
        linear-gradient(
            to bottom,
            @bg_color,
            @bg_color calc(100% - 12px),
            shade (
                @bg_color,
                0.94
            )
        );
}

.notification image {
    -gtk-icon-effect: none;
}

.notification label {
    color: @text_color;
}

.notification label.title {
    font-weight: 700;
}

.notification.urgent image {
    animation: urgent 6s ease-in-out infinite;
}

.notification.urgent label.title {
    color: @error_color;
}

@keyframes urgent {
    0% { -gtk-icon-transform: scale(1) rotate(0deg); }
    1% { -gtk-icon-transform: scale(0.8) rotate(30deg); }
    2% { -gtk-icon-transform: scale(1.2) rotate(-30deg); }
    3% { -gtk-icon-transform: scale(1.6) rotate(30deg); }
    4% { -gtk-icon-transform: scale(1.6) rotate(-20deg); }
    5% { -gtk-icon-transform: scale(1.6) rotate(10deg); }
    6% { -gtk-icon-transform: scale(1.6) rotate(-5deg); }
    7% { -gtk-icon-transform: scale(1.2) rotate(2deg); }
    8% { -gtk-icon-transform: scale(1) rotate(0deg); }
    100% { -gtk-icon-transform: scale(1) rotate(0deg); }
}
