[Desktop Entry]
Name=Notifications
Comment=See notification bubbles
Exec=io.elementary.notifications
Icon=preferences-system-notifications
Terminal=false
Type=Application
Categories=System;
NoDisplay=true
X-GNOME-Autostart-Notify=false
X-GNOME-AutoRestart=true
X-GNOME-Autostart-enabled=true
OnlyShowIn=Pantheon;
